@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;

.form {
    @extend .column;
    gap: $base-gap-2;
    width: 600px;

    margin: 0 auto;
    margin-top: $base-margin-9 * 2;
    padding: $base-padding-9 * 2;

    border: 1px solid var(--medium-gray);
    border-radius: $base-border-radius-2;

    box-shadow: 2px 2px 4px var(--light-gray);

    .title {
        font-size: $font-size-xl;
    }

    .bottom {
        @extend .row;
        gap: $base-gap-4;
        p {
            width: max-content;
        }
        .registrationButton {
            @extend .row-center;
            padding: $base-padding-6;
            justify-content: center;
        }
    }
}
