@use './../../../../../../scss/variables' as *;

.deleteMenu {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: var(--red);
    color: var(--white);
    padding: $base-padding;
    font-size: $font-size-sm;
    width: 30px;
    height: 30px;
    border-radius: 100px;
}