@use './../../../scss/variables' as *;
@use './../../../scss/display' as *;
@use './../../../scss/display' as *;

.input {
    @extend .row-ac;
    gap: $base-gap-2;

    width: 100%;

    border: 1px solid var(--medium-gray);
    padding: $base-padding-4;
    border-radius: $base-border-radius;

    div {
        @extend .row-ac-mini;
        width: 100%;

        input {
            width: 100%;
            border: none;
            outline: none;
        }
    }
}
