@use './../../../scss/display' as *;
@use './../../../scss/variables' as *;

.header {
    box-shadow: 2px 2px 4px var(--light-gray);
    margin-bottom: $base-margin-8;

    div {
        padding: $base-padding-2 0;

        .title {
            font-size: $font-size-lg;
        }
    }
}
