@use './../../../../../scss/display' as *;
@use './../../../../../scss/variables' as *;

@use 'sass:map';

$statuses: (
    'new': 'Новая',
    'processing': 'Выполняется',
    'completed': 'Завершена',
    'close': 'Закрыта',
);

$priority: (
    'not-important': 'Не важная',
    'med-important': 'Средняя важность',
    'important': 'Важная',
);

$types: (
    'fix': 'Исправление',
    'feature': 'Новая функциональность',
    'error': 'Ошибка',
);

.card {
    @extend .column;
    height: max-content;
    padding: $base-padding-4;

    border: 2px solid var(--primary);
    border-radius: $base-border-radius-2;

    background-color: var(--white);

    .marks {
        @extend .row-wrap;
        :is(.status, .type, .priority) {
            color: var(--white);
            padding: $base-padding $base-padding-4;
            width: max-content;
            border-radius: 100px;
            font-size: $font-size-sm;
        }

        .status {
            &[data-status='#{map.get($statuses, "new")}'] {
                background-color: var(--primary);
            }

            &[data-status='#{map.get($statuses, "processing")}'] {
                background-color: var(--orange);
            }

            &[data-status='#{map.get($statuses, "completed")}'] {
                background-color: var(--green);
            }

            &[data-status='#{map.get($statuses, "close")}'] {
                background-color: var(--red);
            }
        }

        .priority {
            &[data-priority='#{map.get($priority, "not-important")}'] {
                background-color: var(--primary);
            }

            &[data-priority='#{map.get($priority, "med-important")}'] {
                background-color: var(--orange);
            }

            &[data-priority='#{map.get($priority, "important")}'] {
                background-color: var(--green);
            }
        }

        .type {
            &[data-type='#{map.get($types, "fix")}'] {
                background-color: var(--primary);
            }

            &[data-type='#{map.get($types, "feature")}'] {
                background-color: var(--yellow);
            }

            &[data-type='#{map.get($types, "error")}'] {
                background-color: var(--red);
            }
        }
    }

    .time {
        color: var(--gray);
    }

    .author {
        @extend .row-ac;

        .authorPhoto {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}
