@use './../../../../scss/display' as *;
@use './../../../../scss/variables' as *;

.card {
    @extend .column;
    border: 2px solid var(--primary);
    padding: $base-padding-4;
    border-radius: $base-border-radius-2;
    height: max-content;

    .marks {
        @extend .row-wrap;
        .status {
            color: var(--white);
            padding: $base-padding $base-padding-4;
            width: max-content;
            border-radius: 100px;
            font-size: $font-size-sm;

            &[data-status='Новая'] {
                background-color: var(--primary);
            }

            &[data-status='Выполняется'] {
                background-color: var(--orange);
            }

            &[data-status='Завершена'] {
                background-color: var(--green);
            }

            &[data-status='Закрыта'] {
                background-color: var(--red);
            }
        }

        .priority {
            color: var(--white);
            padding: $base-padding $base-padding-4;
            width: max-content;
            border-radius: 100px;
            font-size: $font-size-sm;

            &[data-priority='Не важная'] {
                background-color: var(--primary);
            }

            &[data-priority='Средняя важность'] {
                background-color: var(--orange);
            }

            &[data-priority='Важная'] {
                background-color: var(--green);
            }
        }

        .type {
            color: var(--white);
            padding: $base-padding $base-padding-4;
            width: max-content;
            border-radius: 100px;
            font-size: $font-size-sm;

            &[data-type='Исправление'] {
                background-color: var(--primary);
            }

            &[data-type='Новая функциональность'] {
                background-color: var(--yellow);
            }

            &[data-type='Ошибка'] {
                background-color: var(--red);
            }
        }
    }

    .time {
        color: var(--gray);
    }

    .author {
        @extend .row-ac;

        .authorPhoto {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}
