@use 'sass:map';
@use 'sass:math';

$primary: #4878a6 !default;
$secondary: #edf2f6 !default;
$error: #d32752 !default;

$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'error': $error,
    'red': #d73838,
    'green': #48a69b,
    'yellow': #fbb13c,
    'orange': #f37748,
    'gray': #838688,
    'light-gray': #eaeaf0,
    'medium-gray': #c8cacb,
    'black': #1d2226,
    'white': #ffffff,
);

$font-size-bs: 1rem !default;
$font-size-sm: $font-size-bs * 0.75;
$font-size-md: $font-size-bs * 1.25;
$font-size-lg: $font-size-bs * 1.5;
$font-size-xl: $font-size-bs * 1.75;
$font-size-xxl: $font-size-bs * 2;
$font-size-xxxl: $font-size-bs * 2.5;

$base-padding: 4px !default;
$base-padding-2: $base-padding * 2;
$base-padding-3: $base-padding * 3;
$base-padding-4: $base-padding * 4;
$base-padding-5: $base-padding * 5;
$base-padding-6: $base-padding * 6;
$base-padding-7: $base-padding * 7;
$base-padding-8: $base-padding * 8;
$base-padding-9: $base-padding * 9;

$base-margin: 4px !default;
$base-margin-2: $base-margin * 2;
$base-margin-3: $base-margin * 3;
$base-margin-4: $base-margin * 4;
$base-margin-5: $base-margin * 5;
$base-margin-6: $base-margin * 6;
$base-margin-7: $base-margin * 7;
$base-margin-8: $base-margin * 8;
$base-margin-9: $base-margin * 9;

